<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="CustomConfiguration" type="URLRewriter.Config.UrlsSection, URLRewriter" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
   
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add type="URLRewriter.RewriterModule, URLRewriter" name="RewriterModule" />
    </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <add name="cakedbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=cakedb;user id=sa;password=shaojixing;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
 <appSettings>

    <!--微信登陆-->
    <!-- App Key -->
    <add key="oauth_app_id" value="wx05975cb2fa552eb0" />
    <!--App Sercet-->
    <add key="oauth_app_key" value="ffc320a99f2507296d576faff299d44c" />
    <add key="Redirect_uri" value="https://m.makacake.com/api/weixinapi.ashx" />
    <add key="alipaynotify_url" value="https://m.makacake.com/alipay/notify_url.ashx" />
     <add key="alipayreturn_url" value="https://m.makacake.com/alipay/return_url.ashx" />
  
  </appSettings>
  <CustomConfiguration>
    <urls>
      <!--([\w]+)表示，1到n个字母或数字或下划线或汉字组成-->
      <!--([\w]+)表示，1到n个字母或数字或下划线或汉字组成-->
      <add virtualUrl="~/address.html" destinationUrl="~/address.aspx" />
      <add virtualUrl="~/login.html" destinationUrl="~/login.aspx" />
      <add virtualUrl="~/registered.html" destinationUrl="~/registered.aspx" />
      <add virtualUrl="~/mycart.html" destinationUrl="~/mycart.aspx" />
      <add virtualUrl="~/memberhelp.html" destinationUrl="~/memberhelp.aspx" />
      <add virtualUrl="~/productlist.html" destinationUrl="~/productlist.aspx" />
      <add virtualUrl="~/numbercenter.html" destinationUrl="~/numbercenter.aspx" />
      <add virtualUrl="~/productdetail.html" destinationUrl="~/productdetail.aspx" />
      <add virtualUrl="~/flow.html" destinationUrl="~/flow.aspx" />

    </urls>
  </CustomConfiguration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"></validation>
    </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>